@media only screen 
    and (min-width: 321px)
    and (max-width: 1199px) {
    
/* at first, make a header */
#header-start {
  width:100%;
  margin: 0 auto;
}

/* at the second step, we build a big window under the header */
#mitte {
}

/* third move: we get a navigation */
#navigation {
<!--    margin-right: 5%; -->
}

/* fourth step: main index for our blog news and for postsites and sites */
#main-index {
}

/* at last we get a footer - navigation, main-index and footer general are all in #mitte */
#footer-general {
    clear: both;
}

/* layout for single preview entrys on main site */
#post-header{
    float: center;
}

/*Header for Posts and Sites */
#post-start {
    float: center;
    text-align: center;
    text-transform: uppercase;
}

/*
#post-mitte {
position: relative;
width="100%"
}
*/
} 