/* to change background color change "black" into your favorit color! */

body {
    background-color: black;
}

/*  to change fonts color change "green" into your favorit color!
    to change fonts change font family into your favorit font, see i.e. in google fonts.
    change it too in default.hbs!
*/
p, h1, h2, h3, h4, h5, h6, h7, ul, li, i {
    color: green;
    font-family: 'VT323' ;
}

/* to change text decoration edit ext-decoration in your favorit one! */
.blog-title a {
    color: green;
    text-decoration:overline underline;
}

/* to change text decoration edit ext-decoration in your favorit one! */
.post-title a{
    color: green;
}

/* to change hover color change "white" into your favorit color! */
a:hover {
    color: white;
}

.post-title a {
    color: green;
}

.link-title a {
    color: green;
}

a:hover {
    color: white;
}

hr {
    color: grey;
}

/* first old block */

/* this three nice blocks are for the footer text */
.footer_center p {
    color: green;
    display: block;
    text-align: right;
}

.footer_center a {
    color: green;
    display: block;
    text-align: right;
}

a:hover {
    color: white;
}

/* second old block */

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    background: black;
    color: red;
}


blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 1.6em;
    border-left: green 0.6em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

.pagination {
	margin-bottom:1em;
    color: green;
    font-family: 'VT323' ;
}
